/* pagina principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f9af10;
    margin: 0;
    padding: 100px;
  }
  /* Login */
  h1 {
    text-align: center;
    text-shadow: 2px 2px yellow;
    color: #050505;
  }

  /* caixa grande */
  form {
    max-width: 300px;
    margin: 20px auto;
    background-color: #050505;
    padding: 30px;
    border-radius: 15px 50px 30px
    
  }
  /* email e senha */
  label {
    font-weight: bold;
    color: #f9af10;
  }

/* caixa email e senha */
  input[type="text"],
  input[type="senha"] {
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fdfcfc;
    border-radius: 4px;
  }

  #senha{
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fdfcfc;
    border-radius: 4px;
  }

  /* caixa mostrar senha e submeter */
  button[type="button"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f9af10;
    color: #000000;
    border: 1px;
    border-radius: 0px;
    cursor: pointer;
  }

/* clique aqui */
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fffefa;
    text-decoration: none;
  }
  
  /* Estilo da caixa de texto */
  button[type="button"],
  input[type="submit"] {
    transition: background-color 0.8s ease;
    border-style: solid;
    border-color: #0d0c0c
  }
  
/* Estilo da animação de rato por cima */
  button[type="button"]:hover,
  input[type="submit"]:hover {
    background-color: #c7a600;
    border-color: #dddde9
  }
  
  