/* Estilos da página principal */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.fundo {
  width: 100%;
  height: 100vh;
  background-image: url("https://raw.githubusercontent.com/GoncaloSR/Projeto-DEAPC/main/Projeto%20Automa%C3%A7%C3%A3o%20DEAPC/images/test1.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Estilo do formulário de login */
.form {
  width: 300px;
  margin: 0 auto;
  background-color: #050505;
  padding: 30px;
  border-radius: 15px;
}

/* Estilos para o texto de login */
h1 {
  text-align: center;
  /*text-shadow: 2px 2px white;*/
  color: goldenrod;
}

/* Estilos para as etiquetas (labels) */
label {
  font-weight: bold;
  color: goldenrod;
}

/* Estilos para os campos de texto */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #fdfcfc;
  border-radius: 4px;
}

/* Estilos para o botão de submeter */
input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: goldenrod;
  color:black;
  border: 1px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

input[type="submit"]:hover {
  background-color: goldenrod;
}

/* Estilos para o link "Clique aqui" */
a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #fffefa;
  text-decoration: none;
}
