/* pagina principal */
body {
    font-family: Arial, sans-serif;
    background-image: url('test1.jpg');
    margin: 0;
    padding: 100px;
  }
  /* Login */
  h1 {
    text-align: center;
    text-shadow: 2px 2px yellow;
    color: #050505;
  }

  .fundo{
    width: 100%;
    height: 100vh;
    background-image: url("https://github.com/GoncaloSR/Projeto-DEAPC/blob/main/Projeto%20Automação%20DEAPC/images/test1.jpg"), linear-gradient(rgba(0,0,0,0.75));
    background-size: cover;
    background-position: center;
    opacity: 0.3;
}

  /* caixa grande */
  form {
    max-width: 300px;
    margin: 20px auto;
    background-color: #050505;
    padding: 30px;
    border-radius: 15px 50px 30px
    
  }
  /* email e senha */
  label {
    font-weight: bold;
    color: #f9af10;
  }

  /*edit caixa de texto ação de ocultar senha */
  #senha{
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fdfcfc;
    border-radius: 4px;
  }

/* caixa email e senha */
  input[type="text"],
  input[type="senha"] {
    width: 96%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #fdfcfc;
    border-radius: 4px;
  }

  /* caixa mostrar senha e submeter */
  button[type="button"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #f9af10;
    color: #000000;
    border: 1px;
    border-radius: 0px;
    cursor: pointer;
  }

/* clique aqui */
  a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #fffefa;
    text-decoration: none;
    text-shadow: 2px 2px rgb(9, 9, 1);
  }
  
  /* Estilo da caixa de texto */
  button[type="button"],
  input[type="submit"] {
    transition: background-color 0.8s ease;
    border-style: solid;
    border-color: #0d0c0c
  }
  
/* Estilo da animação de rato por cima */
  button[type="button"]:hover,
  input[type="submit"]:hover {
    background-color: #c7a600;
    border-color: #dddde9
  }
  

  /*
  .alert {
    padding: 10px;
    background-color: #f44336;
    color: white;
    font-weight: bold;
    display: none;
  }
  
******CSS ALERT

  */ 