/*.fundo{
    width: 100%;
    height: 100vh;
    background-color: #ffffcc;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  */

  .maquete {
    width: 600px;
    height: 400px;
    border: 2px solid #000000;
    position: relative;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;
  }
  
  .div1 {
    width: 100px;
    height: 250px;
    background-color: #ffcccc;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid #000000;
    border: 1px solid #000000;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    
  }
  
  .div2 {
    width: 100px;
    height: 150px;
    background-color: #ccffff;
    position: absolute;
    top: 100px;
    right: 50px;
    border: 1px solid #000000;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    
  }
  
  .div3 {
    width: 200px;
    height: 100px;
    background-color: #ffffcc;
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 1px solid #000000;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .div4 {
    width: 300px;
    height: 225px;
    background-color: #ccffcc;
    position: absolute;
    top: 50px;
    right: 150px;
    border: 1px solid #000000;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;

  }

  h1{
    text-align: center;
  }

  body {
    font-family: Arial, sans-serif;
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
  }

button[type="bt1"]{
  width: 10%;
  padding: 10px;
  background-color:  #ffcccc;
  color: black;
  border: 1px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

button[type="bt2"]{
  width: 10%;
  padding: 10px;
  background-color: #ccffff;
  color: black;
  border: 1px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

button[type="bt3"]{
  width: 10%;
  padding: 10px;
  background-color: #ffffcc;
  color: black;
  border: 1px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

button[type="bt4"]{
  width: 10%;
  padding: 10px;
  background-color: #ccffcc;
  color: black;
  border: 1px;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.8s ease;
}

#resultado {
  margin-top: 20px;
  text-align: center;
}

.caixa-texto {
      position: absolute;
      top: 430px; 
      left: 1px;
      width: 150px; 
      height: auto; 
      background-color: #f0f0f0; 
      padding: 10px;
      border: 2px solid blue;
      margin-left: -8%;
}

.caixa-texto1 {
    position: absolute;
    top: 430px; 
    left: 545px;
    width: 150px; 
    height: 200px; 
    background-color: #f0f0f0; 
    padding: 10px;
    border: 2px solid blue;
    margin-left: -12%;
}

.container {
    position: relative;
    width: 50%;
    margin: auto ;
  }
  
.image {
    opacity: 1;
    display: block;
    width: 400px;
    height: 125px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius: 8px;
    margin: 0 auto;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 0.8;
    text-align: center;
  }
  
  .text {
    background-color: #a6ff0052;
    color: rgb(4, 4, 4);
    font-size: 16px;
    padding: 16px;
  }

  footer{
    background-color: rgb(250, 154, 0);
      justify-content: center;
      align-items: center;
      height: 8vh;
      position: absolute;
      text-align: center;
      
   }
  
  .patrocinios {
    text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;

   }
  
  .patrocinios img {
      width: 75px;
      margin: 30px;
     
   }
    
   table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #dddddd;
    border-bottom: 2px solid #999999;
  }
  
  td {
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
  }
  
  tr:hover {
    background-color: #f5f5f5;
  }



