body {
    font-family: Arial, sans-serif;
    background-image: url(https://raw.githubusercontent.com/GoncaloSR/Projeto-DEAPC/main/Projeto%20Automa%C3%A7%C3%A3o%20DEAPC/images/fundo2.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    }

  .caixainfo {
  background-color: #d2af5b;
  border-radius: 5%;
  margin-top: 10px;
  opacity: 0.8;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 25px;
  
}
  
  header {
    background-color: #d2af5b;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: rgb(0, 0, 0);
    margin: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  p {
    line-height: 1.5;
  }

  a {
    background-color: #947f4f;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    position: static;
    font-size: 16px;
  }
  
  a:hover {
    background-color: #9f7c30;
    color: #fff;
  }
  
  footer {
    background-color: #d2af5b;
    padding: 8px;
    text-align: center;
    position: static;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
  }